/** choropleth visualization */

#census_uber_clustering{
  polygon-fill: transparent;
  polygon-opacity: 0.8;
  line-color: transparent;
  line-width: 1;
  line-opacity: 1;
}
#census_uber_clustering [ prediction <= 0.995263597896769] {
   polygon-fill: #67E1A7;
   line-color: #67E1A7;
}
#census_uber_clustering [ prediction <= 0.687286767165621] {
   polygon-fill: #4CC9A4;
   line-color: #4CC9A4;
}
#census_uber_clustering [ prediction <= 0.497815382978813] {
   polygon-fill: #39B19D;
   line-color: #39B19D;
}
#census_uber_clustering [ prediction <= 0.355636422325544] {
   polygon-fill: #2E9993;
   line-color: #2e9993;
}
#census_uber_clustering [ prediction <= 0.239278058265142] {
   polygon-fill: #2A8286;
   line-color: #2a8286;
}
#census_uber_clustering [ prediction <= 0.152469810632122] {
   polygon-fill: #2A6B76;
   line-color: #2A6B76;
}
#census_uber_clustering [ prediction <= 0.0834756755786319] {
   polygon-fill: #2A5563;
  line-color: #2a5563;
}
